#minecraft-header-text{
    color: grey;
}
#nav-link{
    color: grey;
}
#minecraft{
    background-color: #198754 ;
    height: 50px; 
    text-align: center;
    color: white;
    padding: 10px;
}